ul#films {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul#films li {
    padding: 5px;
    background-color: darkmagenta;
    cursor: pointer;
  }
  
  ul#films li:hover {
    background-color: aliceblue;
  }
  
  ul#films li.film.item {
    font-weight: bold;
  }

  body {
    background-color: darkmagenta;
  }
  #poster {
    width: 100px;;
    padding: 20px;
  }
  
  