ul#films {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul#films li {
    padding: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  ul#films li:hover {
    background-color: #ddd;
  }
  
  ul#films li.film.item {
    font-weight: bold;
  }

  body {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/26/22/26/tickets-1281602_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #poster {
    width: 100px;;
    height: auto;
  }
  